/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

button {
    cursor: pointer;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#summaryBalances {
    font-size: 17px;
}

.alt-coin {
    font-size: 16px;
}

.icon-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 12px;
    color: #000000;
    line-height: 500px;
    text-align: center;
    border: 1px solid #000000;
}

.cc {
    font-size: 25px;
}

.token-label {
    font-weight: bold;background: #000;color: #fff;
}

.crypo-logo {
    width: 26px;
    /* margin-right: 5px; */
    display: block;
    margin: 3px auto;
}

.crypo-logo + span {
    vertical-align: middle;
}

#summaryBalances span {
    text-align: center;
}

#summaryBalances .details {
    font-size: 13px;
}